*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Gill Sans Extrabold", sans-serif;
}
body{
    background: gray;
    color: #333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.container{
    background: white;
    max-width: 400px;
    width: 100%;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rbga(0,0,0,1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    width: 120px;
    height: 120px;
    border-radius:50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 20px;
}
header h1{
    font-size: 25px;
    margin-bottom: 5px;
}
section{
    width: 100%;
    margin-top: 15px;
}
.Bio{
    text-align: center;
    font-size:14px;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top:10px;
    
}
ul li{
    background: rgb(234, 199, 199);
    padding: 6px 12px;
    border-radius:20px;
    font-size: 13px;
    font-family: cursive;
}
ul li:hover{
    color: #92c6e8;
    transform: scale(1.1);
}
.Contact{
    display: block;
    margin-bottom: 10px;
}

.Contact-section{
    width: 100%;
    margin-top: 15px;
    
    
}
.contact-list{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.contact-list  a{
    
    text-decoration: none;
    color:rgb(30, 27, 30);
    transition: 0.3s;
}
.contact-list  a:hover{
    color:aqua;
    transform: scale(1.2);
}
footer{
    margin-top: 15px;
    font-size:12px;
}

@media (max-wdith:500){
    .container{
        max-width: 100%;
    }
}

.fb {
    color: #1877f2;
  }
  
  .git {
    color: #000;
  }
  
  .tele {
    color: #229ED9;
  }